body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: rgb(214, 225, 232);
}



h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

form{
    margin: auto;
    text-align: center;

}



.items-head{
    font-size: 1.12rem;
    text-transform: uppercase;
}

#category{
    border-width: 0px 1px 0px 0px ;
    border-color: rgb(195, 168, 168);
    border-style: solid;
    padding-right: 17%;
}
input{
    border: none;
    font-size: 1.05rem;
    background-color: transparent;

}

input:focus-visible{
    outline: none;
    
}

select{
    border: none;
    font-size: 1.05rem;
    opacity: .5;
    background-color: transparent;

}
.about-todo{
    border-width:1px 0px;
    border-color: rgb(195, 168, 168);
    border-style: solid;
    padding: 2vw;
    text-align: left;
    
}

.about-todo:hover{
    background-color: rgba(192, 212, 223, 0.986);

}


.about-todo-category{
    border-width:0px 0px 1px 0px;
    border-color: rgb(195, 168, 168);
    border-style: solid;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}


button{
    display: inline-block;
    height: 40px;
    margin-top: 15px;
    width:200px;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    border-radius: 20px;
    box-shadow: .3px 3px 4px black;

}


#add-task-btn{
    background-color: rgb(48, 185, 48);
}

#delete-btn{
    background-color: rgb(155, 39, 39);
}

button:hover{
    background-color: azure;
    box-shadow: none;

}

/* task list */
ul{
    margin-top: 20px;
    padding: 0px;
}
ul li{
  display: flex; 
  justify-content: space-between; 
  font-size: 1.25rem;
  border-width:1px 0px 1px 0px;
    border-color: rgb(195, 168, 168);
    border-style: solid;
    padding: 10px 5%;
    font-family:'Times New Roman', Times, serif;

}

li:hover{
    background-color: rgba(192, 212, 223, 0.986);

}
.checkbox{
    height:30px;
    width:20px;
    
}



#task-desc{
    /* text-transform:capitalize; */
    font-size: 1.4rem;
}

/* font awesome icons */

i{
    padding-right: 10px;
}

#task-date{
    opacity: .5;
    font-size: 1.2rem;
    
}

#task-category{
    background-color: rgb(130, 72, 185);
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
    
}